<!-- ========================= footer start ========================= -->
<footer class="footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7">
                <!--<div class="section-title">
                    <h2>Subscribe Newsletter</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis nulla placerat amet amet congue.</p>
                </div>
                <div class="newsletter-form-wrapper">
                    <form action="#">
                        <input type="email" placeholder="Email Address">
                        <button class="main-btn btn-hover">Subscribe Now</button>
                    </form>
                </div>-->
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="footer-menu text-center">
                    <ul>
                        <li><a href="#0">Nous Sommes</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#emploi">Emploi</a></li>
                        <li><a routerLink="/login">Se connecter</a></li>
                        <li><a routerLink="/signup">Créer un compte</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ========================= footer end ========================= -->

<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top btn-hover">
    <i class="lni lni-chevron-up"></i>
</a>
