<app-navbar></app-navbar>
<app-home></app-home>

<!-- ========================= feature-section start service========================= -->
<section id="services" class="feature-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-11">
                <div class="section-title text-center mb-60">
                    <h2>Nos <br class="d-block">Services</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <div class="feature-icon color-1">
                        <i class="lni lni-brush"></i>
                    </div>
                    <div class="feature-content">
                        <h4>Ménage</h4>
                        <p>Profitez d'une maison impeccable sans lever le petit doigt. Nos professionnels du ménage sont là pour vous offrir un service de nettoyage complet, adapté à vos besoins.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <div class="feature-icon color-2">
                        <i class="lni lni-home"></i>
                    </div>
                    <div class="feature-content">
                        <h4>Babysitting</h4>
                        <p>Confiez vos enfants à des nounous qualifiées et attentionnées. Nous vous offrons la tranquillité d'esprit en veillant sur vos petits avec soin et sécurité.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <div class="feature-icon color-3">
                        <i class="lni lni-syringe"></i>
                    </div>
                    <div class="feature-content">
                        <h4>Auxiliaire de vie</h4>
                        <p>Nos auxiliaires de vie sont dévoués à l'accompagnement des personnes âgées ou en situation de dépendance, offrant soutien et assistance dans les tâches quotidiennes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= feature-section end ========================= -->



<!-- ========================= feature-section-1 start emploi ========================= -->
<section id="emploi" class="feature-section-1">
    <div class="shape-image">
        <img src="assets/images/feature/shape.svg" alt="">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-last order-lg-first">
                <div class="feature-image text-center text-lg-start">
                    <img src="assets/images/undraw_baby_re_fr9r (1).svg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-xxl-5 col-md-10 offset-xxl-1">
                <div class="feature-content-wrapper">
                    <div class="section-title">
                        <h2 class="mb-20">Cherchez-vous un emploi dans les services à domicile ?</h2>
                        <p class="mb-30">Rejoignez notre plateforme pour trouver des opportunités de travail dans des domaines tels que le ménage, le babysitting, ou l’aide aux personnes âgées. Connectez-vous avec des personnes qui recherchent des professionnels comme vous et démarrez une carrière enrichissante dès aujourd’hui.</p>
                        <a routerLink="/signup/signup-prestataire" class="main-btn btn-hover border-btn">Découvrez Nos Offres</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= feature-section-1 end ========================= -->



<app-footer></app-footer>